body {
    background-color: #171717;
}

}
h3,p{
color:white;
  
}

h1,h2{ 
  text-shadow: 0 0 5px #ffffff, 0 0 5px white;
  font-size: 50px;
  text-align: center;
}

#mamapic{
 margin-left: auto;
 margin-right: auto;
 border-radius: 200px;
 text-align: center;
 display: flex;
 justify-content: center;
}

#mamapic {
  border-radius: 200px;
  border: 3px solid white;
}

#ListMama{
  margin: auto;
  padding: auto;
  text-align: center;

}

nav{ text-align:center;

  display: inline;

  width:100%;

    

}

nav ul{

  width:100%;

}

nav ul li{ 

text-align: left;

display: inline-block;

padding: 10px;

font-family: fantasy;

font-size: 20px;

text-shadow: 0 0 2px #red,0 0 2px #orangered ;
}
nav a{
text-decoration:none;
color:black;
}

#mamatext{
text-align: 100px;
}

/*#mama1{
 border-radius: 200px;
 display: flex;
 justify-content: center;
 margin-left: 500px;
 height:500px;
 width:500px;
}*/

/*#mama1{
  border-radius: 5px;
  border: 3px solid white;
}*/

#m1{
  
  text-align: center;

  border-width: 100%

}
#m1 img{

  border: 2px solid white;
  margin: 40px;
}

#m1 video{
text-align: center;
margin: 20px;
}